body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa-1xBy5uZ7yn17ABJRnJwpWcmOHkONb3BgtinC_GNWW0ZfjXo");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
